* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("./images/mapbackground.png");
  background-size: cover;

  background-position: center;
  background-attachment: fixed;
  background-blend-mode: overlay;
  color: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 40px auto;
  padding: 0;
  background: rgba(13, 17, 23, 0.418);
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

.headerText {
  text-align: center;
  background: rgba(13, 17, 23, 0.466);
  backdrop-filter: blur(3px);
  padding: 24px;
}

.headerText h2 {
  margin: 0;

  font-size: 24px;
}

.countryBtn {
  text-align: center;
  background: rgba(13, 17, 23, 0.275);
  backdrop-filter: blur(3px);
  padding: 30px 20px;
}

.countryBtn button {
  padding: 12px 24px;
  margin: 0 10px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
  font-weight: 500;
}

.countryBtn button:hover {
  background-color: #0056b3;
  transform: translateY(+2px);
  box-shadow: 0 4px 12px rgba(0, 123, 255, 0.3);
}

.contentLayout {
  padding: 54px;
}

.viewMap {
  background: rgba(13, 17, 23, 0.75);
  backdrop-filter: blur(3px);
  border-radius: 8px;
  padding: 24px;
  border: 1px solid #3a3a3a;
}

.viewMap h3 {
  margin-bottom: 16px;
  color: #ffffff;
  font-size: 20px;
}

.viewMap-button {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin: 20px 10;
  padding-left: 200px;
}

.viewMap-button button {
  padding: 10px 80px;
  background: #1e88e5;
  border: none;
  height: fit-content;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.3s;
}

.viewMap-button button:hover {
  display: flex;
  color: #000000;
  justify-content: center;
  transform: scale(+1.1);
}

.viewMap-frame {
  flex: 1;
  border-radius: 8px;
  overflow: hidden;

  margin: 20px 0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.viewMap-frame iframe {
  width: 100%;
  height: 450px;
  display: block;
  border: none;
}

.viewMap-content {
  gap: 24px;
  align-items: flex-start;
  margin-top: 20px;
}

.viewMap-flag {
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 8px;
  min-width: 200px;
  max-width: 420px;
  border: 1px solid #3a3a3a;
  word-break: break-word;
}

.viewMap-flag p {
  margin: 10px 0;
  line-height: 1.6;
  font-size: 14px;
}
.viewMap-top {
  display: flex;
  gap: 220px;
  margin-bottom: 20px;
  align-items: flex-start;
}
.side-info p {
  margin: 10px 0;
  line-height: 1.6;
  font-size: 14px;
  white-space: normal;
}
.side-info h4 {
  margin: 10px 0;
  line-height: 1.6;
  font-size: 14px;
  white-space: normal;
  text-align: center;
}
